.hero-image {
    position: relative;
}

.hero-image .people {
    position: absolute;
    top: -10vh;
    left: 15vw;
    width: 80%;
}

.hero-image .logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    width: 100%;
    text-align: center;
    transform: rotate(-10deg)
}

.logo img {
    width: 50vw;
}

.lamp-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 250px;
    width: 30%;
    height: 40vh;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.lamp-container .lamp-obj, .lamp-container .lamp-img {
    width: 100%;
    overflow: visible;
}

/************
    ABOUT
************/

.about-text {
    width: 60%;
}

.about-text p {
    color: #fff;
}

.about-people {
    position: absolute;
    width: 30%;
    top: 0px;
    right: 0;
}

/**************
    SERVICE
**************/

.service {
    min-height: 100vh;
    height: 100vh;
    background: rgba(0,0,0,1)
}

.service-wrapper {
    width: 100%;
}

.services-title {
    background: rgba(255,255,255,0.25);
    color: #fff;
    width: 250px;
    padding: 20px 10px;
    font-size: 22px;
    margin: 0 auto;
}

.services-title .heavy-text {
    font-weight: 700;
}

.services-title .light-text {
    font-weight: 400;
    display: block;
}

.people3-img {
    margin-top: 50px;
}

.card {
    border: none;
    background: #000;
}

.card-header {
    background: rgba(255,255,255,0.25);
}

.serviceButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.serviceButton:focus {
    outline: none;
}

.card-body {
    background: rgba(255,255,255,0.25);
    color: #fff;
}

/***********
    TEAM
***********/

#team {
    height: 100vh;
    background: #000;
}

.team_member_img {
    border: 10px solid #fff;
}