  /*---------------------------------------------------------------

    Project Name: Joy | Minimal One Page Template
    File Name: style.scss
    Author: Khai Tawng
    Author URI: http://khaitawng.com
    Version: 1.0.0

  ------------------------------------------------------------------*/
  /*----------------------------------------------------------------

  // Table of contents //

    - VARIABLES
    - COLORS
    - MIXINS
    - TYPOGRAPHY
    - GENERAL
    - BUTTONS
    - PRE LOADER
    - MENU
    - HOME
    - SERVICE
    - ABOUT
    - BLOG
    - PROJECTS
    - PRICING
    - TESTIMONIAL
    - FOOTER
    - SOCIAL ICON
    - RESPONSIVE STYLES
    - CUSTOM STYLES

  ------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500");
/*---------------------------------------
  VARIABLES             
-----------------------------------------*/
/*---------------------------------------
  COLORS             
-----------------------------------------*/
/*---------------------------------------
  MIXINS           
-----------------------------------------*/
/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: inherit; }

.large-title {
  color: #ffffff;
  font-size: 4em;
  line-height: normal; }

h1 {
  font-size: 2em; }

h2 {
  color: #353535;
  font-size: 1.5em; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 15px; }

p {
  color: #656565;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px; }

/*---------------------------------------
   GENERAL               
-----------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; }

html {
  -webkit-font-smoothing: antialiased; }

a {
  color: #202020;
  text-decoration: none !important; }

a,
input, button,
.form-control {
  -webkit-transition: 0.2s;
  transition: 0.2s; }

a:hover, a:active, a:focus {
  color: #e0c713;
  outline: none; }

.container {
  max-width: 1170px; }

section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px; }

.white-color {
  color: #ffffff; }

.grey-color {
  color: #d9d9d9; }

/*---------------------------------------
   BUTTONS               
-----------------------------------------*/
.section-btn {
  background: #e0c713;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 30px;
  transition: 0.5s 0.2s; }

.section-btn:hover,
.section-btn:focus {
  background: #202020;
  color: #ffffff; }

/*---------------------------------------
     PRE LOADER              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff; }

.spinner {
  border: 1px solid transparent;
  border-radius: 100px;
  position: relative; }

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 100px;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite; }

@-webkit- @keyframes spinner {
  to {
    transform: rotate(360deg); } }
@keyframes spinner {
  to {
    transform: rotate(360deg); } }
/*---------------------------------------
    MENU              
-----------------------------------------*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear; }
  .header[class*="-not-top"] .navbar, .header[class*="-unpinned"] .navbar {
    background: #ffffff; }
  .header[class*="-not-top"] .navbar-brand, .header[class*="-unpinned"] .navbar-brand {
    color: #0b0c0c; }
  .header[class*="-not-top"] .navbar-nav, .header[class*="-unpinned"] .navbar-nav {
    padding: 15px 0; }
    .header[class*="-not-top"] .navbar-nav .nav-link, .header[class*="-unpinned"] .navbar-nav .nav-link {
      color: #656565; }
      .header[class*="-not-top"] .navbar-nav .nav-link:hover:after, .header[class*="-unpinned"] .navbar-nav .nav-link:hover:after {
        background: #d9d9d9; }
  .header[class*="-unpinned"] {
    transform: translate(0, -150%); }
  .header[class*="-pinned"] {
    transform: translate(0, 0); }

.navbar {
  background: transparent
}

.navbar-nav {
  padding: 25px 0; }
  .navbar-nav .nav-link {
    font-size: 3.75em;
    font-weight: 500;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    position: relative; }
    .navbar-nav .nav-link:after {
      content: "";
      position: absolute;
      display: block;
      width: 0px;
      height: 2px;
      margin: auto;
      background: transparent;
      transition: width .3s ease, background-color .3s ease; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  margin: 0 25px; }

.navbar-brand {
  color: #ffffff;
  font-size: 20px; }

.navbar-nav .nav-link:hover {
  background: transparent;
  color: #ffffff !important; }
  .navbar-nav .nav-link:hover:after {
    background: #ffffff;
    width: 100%; }

.navbar-toggler {
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 30px;
  height: 30px;
  position: relative; }
  .navbar-toggler:focus {
    outline: none; }

.navbar-toggler-close .hamburger-menu-item {
  visibility: hidden; }
  .navbar-toggler-close .hamburger-menu-item:before {
    transform: rotate(45deg);
    visibility: visible; }
  .navbar-toggler-close .hamburger-menu-item:after {
    transform: rotate(-45deg);
    visibility: visible; }

.hamburger-menu {
  position: relative;
  width: 30px;
  height: auto; }

.hamburger-menu-item {
  background: #fff;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute; }
  .hamburger-menu-item:before, .hamburger-menu-item:after {
    background: #fff;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    backface-visibility: hidden;
    transition: all .25s ease; }
  .hamburger-menu-item:before {
    transform: translateY(-6px); }
  .hamburger-menu-item:after {
    transform: translateY(6px); }

  .navbar-collapse {
    background: rgba(245, 217, 9, 0.9);
    width: 37.5em;
    padding: 0px 60px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

/*---------------------------------------
    HOME          
-----------------------------------------*/
#home {
  background: url("../images/home-bg.jpg") no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-top: 15em; }

/*---------------------------------------
  SERVICE           
-----------------------------------------*/
.service-thumb {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto; }
  .service-thumb .service-image {
    max-width: 150%;
    position: relative;
    right: 20%;
    margin: 0 auto; }

.service .nav-tabs {
  border-bottom: 0; }

.service .nav > li > a {
  padding: 8px 0; }

.service .nav-tabs > li > a {
  font-size: 18px;
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  margin-right: 35px; }

.service .nav-tabs .nav-item.show .nav-link,
.service .nav-tabs .nav-link.active {
  background: transparent;
  color: #202020;
  border-bottom: 3px solid #e0c713; }

.service .nav > li > a:focus,
.service .nav > li > a:hover {
  background: transparent;
  border-bottom: 3px solid #e0c713;
  color: #202020; }

.service .tab-content {
  margin-top: 50px; }

.tab-pane-item {
  margin: 20px 0; }

.tab-pane-item h2 {
  margin: 0 0 5px 0; }

/*---------------------------------------
  ABOUT           
-----------------------------------------*/
.reachus-image {
  position: relative;
  margin-bottom: 2em;
}

.reachus-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.reachus-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

/*---------------------------------------
   BLOG               
-----------------------------------------*/
.blog {
  background: #f9f9f9;
  margin: 10px 0 30px 0;
  position: relative;
  overflow: hidden; }
  .blog .blog-title {
    margin: 15px 0 20px 0; }
  .blog .blog-link:hover {
    color: #e0c713;
    text-decoration: underline !important; }

.blog-category {
  background: #e0c713;
  border-radius: 100px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px; }

.blog-item--info {
  padding: 30px; }

.blog-item--overlay {
  background: linear-gradient(300deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  position: absolute;
  bottom: 0;
  padding: 20px; }
  .blog-item--overlay .blog-title,
  .blog-item--overlay .blog-link,
  .blog-item--overlay p {
    color: #ffffff; }

.blog-item--video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .blog-item--video .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    color: #ffffff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center; }

/*---------------------------------------
    PROJECTS         
-----------------------------------------*/
.projects-thumb {
  display: block;
  position: relative;
  overflow: hidden; }
  .projects-thumb:hover:after {
    content: "";
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .projects-thumb:hover .projects-icon .fa {
    opacity: 1; }

.projects-item {
  background: linear-gradient(0deg, rgba(25, 25, 25, 0.5) 0, transparent 50%, transparent);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px 50px; }

.projects-title {
  color: #ffffff;
  margin: 0; }

.projects-des {
  color: #d9d9d9;
  font-size: 12px; }

.projects-slide .item {
  display: block;
  width: 100%; }

.projects-icon {
  text-align: center;
  display: block;
  margin: 0 auto; }
  .projects-icon .fa {
    background: #ffffff;
    border-radius: 100px;
    color: #e0c713;
    font-size: 2em;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
    transition: all 0.4s ease;
    opacity: 0; }

.owl-carousel .owl-nav i {
  display: none; }
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  width: 95px;
  height: 95px;
  transform: translate(0, -50%); }
.owl-carousel .owl-nav .owl-prev:before {
  content: "";
  background: url("../images/left-arrow.svg") no-repeat;
  background-size: cover;
  left: 0; }
.owl-carousel .owl-nav .owl-next:before {
  content: "";
  background: url("../images/right-arrow.svg") no-repeat;
  background-size: cover;
  right: 0; }

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit; }

/*---------------------------------------
    PRICING             
-----------------------------------------*/
.pricing-thumb {
  background: #f9f9f9; }

.pricing-title {
  background: #e0c713;
  padding: 25px; }
  .pricing-title .pricing-sub-title {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase; }
  .pricing-title .pricing-dollar {
    color: #ffffff;
    font-size: 4em;
    line-height: normal;
    margin: 0; }

.pricing-info p {
  margin: 20px; }

.pricing-bottom {
  border-top: 1px solid #f0f0f0;
  padding: 30px 20px; }

.pricing-btn {
  background: #0b0c0c; }

/*---------------------------------------
    TESTIMONIAL           
-----------------------------------------*/
.testimonial {
  background: #000;
  text-align: center; }

.carousel-quote-image {
  width: 50px;
  height: auto; }

.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0; }

.carousel-name {
  color: #ccc;
  font-weight: 500; }

.carousel-title {
  color: #eee;
  font-style: italic; }

.carousel-indicators {
  position: initial;
  top: 100%;
  bottom: auto;
  margin-top: 35px; }
  .carousel-indicators li {
    text-indent: inherit;
    background: transparent;
    margin: 0 10px; }
  .carousel-indicators li,
  .carousel-indicators li::before {
    width: 45px;
    height: auto; }
  .carousel-indicators .avatar-image {
    width: 45px;
    height: auto; }
  .carousel-indicators .active,
  .carousel-indicators .active .avatar-image {
    background: transparent;
    width: 55px; }

/*---------------------------------------
   FOOTER              
-----------------------------------------*/
.footer {
  background: #0b0c0c; }

.contact-info {
  padding: 200px 10px 200px 50px;
  margin-bottom: 0; }

.social-thumb {
  background: #171716;
  padding: 200px 50px; }

.address-text,
.credit-text,
.copyright-text {
  color: #d9d9d9; }

.contact-info-text,
.mail-link {
  color: #ffffff; }

.footer-link {
  color: #e0c713;
  margin: 10px 0;
  display: inline-block; }
  .footer-link:hover {
    color: #ffffff; }

/*---------------------------------------
   SOCIAL ICON              
-----------------------------------------*/
.social-icon {
  position: relative;
  padding: 0;
  margin: 0; }
  .social-icon .social-item {
    display: inline-block;
    list-style: none; }
  .social-icon .social-links {
    border-radius: 100px;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0; }
    .social-icon .social-links:hover {
      background: #ffffff;
      color: #0b0c0c; }

/*---------------------------------------
   RESPONSIVE STYLES              
-----------------------------------------*/
@media screen and (max-width: 767px) {
  .navbar {
    text-align: center;
    padding-bottom: 12px;
    padding: 0;
    margin: 10px 15px; }

  .navbar-brand {
    color: #e0c713; }

  .navbar-collapse {
    right: 0;
    top: 0;
    width: calc(100vw - 45px);
  }

  .navbar-nav .nav-link {
    color: #000; }

  .header {
    background: transparent; }

  section {
    padding-top: 50px;
    padding-bottom: 50px; }

  .projects-thumb {
    text-align: center; }

  .owl-carousel .owl-nav .owl-prev:before,
  .owl-carousel .owl-nav .owl-next:before {
    width: 70px;
    height: 70px; }

  .reachus-text {
    margin-bottom: 2em; }

  .service .tab-content,
  .pricing-thumb,
  .contact-info {
    margin-bottom: 50px; }

  .contact-info,
  .social-thumb {
    background: transparent;
    padding: 0 20px; }

  .footer {
    padding: 100px 0; } }
@media screen and (max-width: 480px) {
  .large-title {
    font-size: 3em; }

  .service-thumb {
    width: 350px;
    height: 350px; } }
@media screen and (max-width: 320px) {
  .service-thumb {
    width: 250px;
    height: 250px; } }

/*---------------------------------------
   CUSTOM STYLES              
-----------------------------------------*/

.logo {
  width: 35%;
}

.team_member_img {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.team_member_img::after {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.team_member_img:hover:after {
  opacity: 0.9;
}

.team_member_img:hover .team_post {
  transition-delay: 0.2s;
  transform: translateY(0px);
  opacity: 1;
}

.team_member_img:hover .team_inner h4 {
  transform: translateY(0px);
  opacity: 1;
}

.team_img {
  height: inherit;
  background-size: cover;
  background-position: center;
  position: relative;
}

.team_inner {
  position: absolute;
  left: 25px;
  bottom: 20px;
  transition: all 0.3s ease;
  z-index: 1;
}

.team_inner h4 {
  transform: translateY(100%);
  transition: all 0.5s ease 0s;
  opacity: 0;
  font-size: 22px !important;
  color: #fff;
  margin-bottom: 10px !important;
}

.team_inner .team_post {
  transform: translateY(100%);
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.team_info {
  transform: translateY(100%);
  transition: all 0.5s ease 0s;
  opacity: 0;
  width: 100%;
  text-align: center;
  display: flex;
}

.team_member_img:hover .team_info {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.4s
}

.team_info a {
  font-size: 16px;
  margin-right: 30px;
  color: #fff;
  display: inline-block;
}

.team_member_img:hover .team_post {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.2s;
}

.owl-stage {
  display: flex;
  align-items: center
}

.mfp-iframe body{
  overflow: hidden
}

.hamburger-toggle {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 2
}